.description {
  margin-bottom: 20px;
}

.button {
  display: none;
  justify-content: flex-end;
  margin: 10px
}


.post-area {
  margin: 70px 0 70px 0;
  padding: 20px;
  background: white;
  position: relative;
  box-shadow: 0px 0px 13px #b9b7b7, 0px 0px 13px #cac5c5;
  border-radius: 14px;
  min-height: 350px;
}

.btn-more {
  background: #a368ff;
  color: #e6e6e6;
  border: 1px solid grey;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.btn-navigation {
  background: #a368ff;
  color: #e6e6e6;
  border: 1px solid grey;
}

.date {
  background: #724baf;
  position: absolute;
  transform: translate(2px, -42px);
  color: white;
  padding: 2px;
  left: 10px;
  top: 13px;
  z-index: -2;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.img {
  width: 250px;
  height: 200px;
  float: left;
  margin-right: 25px;
}




@media only screen and (max-width: 767px) {
  .button {
    display: none;
  }
  .imageContainer {
    position: relative;

    .title {
      position: absolute;
      bottom: 0;
      background: #7767BF;
      opacity: 0.8;
      color: white;
      width: 100%;
      padding: 5px;
    }

    img {
      border-top-right-radius: 14px;
      border-top-left-radius: 14px;
      width: 100%;
      height: 240px;
      cursor: pointer;
    }
  }

  .post-area {
    padding: 0;
    min-height: 240px;
  }

  .shown {
    display: none;
  }

  .hidden {
    display: flex;
    flex-direction: column;
  }

  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
    margin: 10px;
    text-align: justify;
    display: none;
  }

  .titleBlock {
    background: white;
    position: absolute;
    background: rgba(255,255,255, 33%);
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
  }
}


@media only screen and (min-width: 768px) {
  .shown {
    display: block;
  }

  .button {
    display: flex;
  }

  .hidden {
    display: none;
  }
}

