<h2 style="color: #712caf;">{{title}}</h2>
<div *ngFor="let post of posts" class="post-area">
    <div class="date">
        {{post?.fields?.publishDate | date:'fullDate'}}
    </div>
    <div class="shown">
        <h2>{{post?.fields?.title}}</h2>

        <div class="imageContainer">
            <img [src]="post?.fields?.heroImage?.fields?.file?.url" class="img" >
        </div>
        <div class="description">{{post?.fields?.description}}</div>
    </div>



    <div class="hidden">
        <div class="imageContainer">
            <img [src]="post?.fields?.heroImage?.fields?.file?.url"
                 class="img"
                 (click)="route(post?.sys?.id)">
            <div class="title">
                <h4>{{post?.fields?.title}}</h4>
            </div>
        </div>
    </div>

    <div class="button">
        <button mat-raised-button color="primary"
                (click)="route(post?.sys?.id)"
                class="btn-more" style="position: absolute; bottom: 20px">Weiterlesen ></button>
    </div>
</div>

<div class="pagination">
    <button mat-raised-button color="primary" (click)="prev()" [disabled]="disablePrev" class="btn-navigation">prev</button>
    <button mat-raised-button color="primary" (click)="next()" [disabled]="disableNext" class="btn-navigation">next</button>
</div>

