@mixin list() {
  ul {
    list-style: none;
    margin: 10px;
    align-items: center;

    li {
      margin-right: 30px;

      a {
        color: #bbbbbb;
        text-decoration: none;
      }

      a:hover {
        color: snow;
      }
    }
  }
}

@mixin footer-main() {
  position: relative;
  background: #616161;
  display: flex;
  color: #bbbbbb;
  border-top: 4px solid #a6a4a9;
}


@media only screen and (min-width: 601px) {
  .footer {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include list();
    @include footer-main();

    ul {
      display: inline-flex;
    }
  }
}


@media only screen and (max-width: 600px) {
  .footer {
    height: 130px;

    align-items: center;
    flex-direction: column;

    @include list();
    @include footer-main();

    li {
      margin-bottom: 5px;
    }

    ul {
      text-align: center;
    }
  }
}


.copyRight {
  margin-right: 30px;
}
