<div>
    <div class="instagramFrame">
        <iframe src='https://www.instagram.com/p/CCOh58ag-cK/embed/'  allowtransparency='true' allowfullscreen='true'
                frameborder='0' height='591' data-instgrm-payload-id='instagram-media-payload-0' scrolling='no'
                style='background: white; border-radius: 3px;
                border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px;
                width: 100%; padding: 0px;'>
        </iframe>
    </div>
</div>
<div class="main-box ads">
    <h4>Buchvorstellung</h4>
    <a target="_blank" style="display: flex; justify-content: center" href="https://www.amazon.de/gp/product/3898798828/ref=as_li_tl?ie=UTF8&camp=1638&creative=6742&creativeASIN=3898798828&linkCode=as2&tag=passiveinc0cf-21&linkId=30ff79fe9c73ba90d042618c4741fdec">
        <img src="assets/buch.jpg" style="width: 60%;">
    </a>
</div>
