.ads {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  justify-content: center;
}

.instagram {
  width: 100%;
}

@media only screen and (max-width: 959px) {
  .instagramFrame {
    position:relative;
    display: flex;
    justify-content: center;
    min-width:100px;
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 959px) {
  .instagramFrame {
    position:relative;
    display: flex;
    justify-content: center;
    min-width:100px;
    width: 326px;
    overflow-y: scroll;
  }
}