.main {
  display: flex;
  justify-content: space-between;
  height: 300px;
  margin-top: 50px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

.first {
  position: relative;
  background: white;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 14px;
  padding: 10px;
  height: 315px;
  box-shadow: 0px 0px 13px #b9b7b7, 0px 0px 13px #cac5c5;
}

.second {
  background: white;
  height: 315px;
  box-shadow: 0px 0px 13px #b9b7b7, 0px 0px 13px #cac5c5;
  position: relative;
  padding: 10px;
  border-radius: 14px;
}

.jahr {
  text-align: center;
}

.monat {

}

.stockPortfolio {
  width: 100%;
  height: 180px;
}

.depotinfo {
  margin-bottom: 20px;
}

.content {
  padding: 10px;
  height: 80%;
  border-radius: 10px;
  -moz-box-shadow:    inset 0 0 10px #afafaf;
  -webkit-box-shadow: inset 0 0 10px #afafaf;
  box-shadow:         inset 0 0 10px #afafaf;
}

.header {
  position: absolute;
  background: #a369ff;
  padding: 5px;
  color: white;
  top: -42px;
  left: 0px;
  border: 3px solid #724bb0;
}

.header-right {
  position: absolute;
  background: #a369ff;
  padding: 5px;
  color: white;
  top: -42px;
  right: 0px;
  border: 3px solid #724bb0;
}

.q {
  margin-bottom: 100px;
}

@media only screen and (max-width: 992px) {
  .q {
    height: 600px;
  }

  .second {
    margin-top: 50px;
  }
}

.content-p2p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  margin-top: 50px;
}

.pic {
  a {
    display: flex;
    justify-content: center;
  }
}

.dividendnEinnahmen {
  font-size: 10pt;
  background: #724baf;
  color: white;
  width: 160px;
  position: absolute;
  left: -10px;
  top: 50px;
  padding: 2px;
}

.dividendnEinnahmen-right {
  font-size: 10pt;
  background: #724baf;
  color: white;
  width: 160px;
  position: absolute;
  right: -10px;
  top: 50px;
  padding: 2px;
}

.dreieck {
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(
                  360deg
  );
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #432c69 transparent;
  position: absolute;
  left: -10px;
  top: 40px;
}

.dreieckRechts {
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(
                  360deg
  );
  border-style: solid;
  border-width: 10px 0 0 10px;
  border-color: transparent transparent transparent #432c69;
  position: absolute;
  right: -10px;
  top: 40px;
}