<div class="container q">
    <div class="row main">
        <div class="col-lg first">
            <div>
                <h4>Dividenden Einnahmen</h4> <br>
            </div>

            <div class="dreieck">

            </div>

            <div class="dreieckRechts">

            </div>

            <div class="dividendnEinnahmen">
                <b>Letzter Monat:</b> 50€
            </div>

            <div class="dividendnEinnahmen-right ">
                <b>Aktuelles Jahr: 50€</b>
            </div>

            <div style="display: flex; justify-content: space-around;">
                <span>Aktiendepot</span>
                <span>ETF-Depot</span>
            </div>

            <div style="display: flex; justify-content: space-evenly">
                <a href="https://ref.trade.re/wtwdw0wr" >
                    <img src="assets/trade.png" style="width: 200px">
                </a>

                <a href="https://de.scalable.capital/einladung/bprxtq" >
                    <img src="assets/scalable.jpeg" style="width: 200px">
                </a>
            </div>

            <div class="depotinfo">
                <span> <a href="/depot">Hier</a> siehst du weitere Details meines Depots</span>
            </div>
        </div>
        <div class="col-lg second">
            <h4>Zinseinnahmen P2P</h4>

            <div class="dividendnEinnahmen">
                <b>Letzter Monat:</b> 50€
            </div>

            <div class="dividendnEinnahmen-right ">
                <b>Aktuelles Jahr:</b> 50€
            </div>

            <div class="dreieck">

            </div>

            <div class="dreieckRechts">

            </div>

            <div class="content-p2p">
                <span>
                    Mein P2P Konto habe ich von Bondora Go & Grow
                </span>
                <div class="pic">
                    <span>
                         <a href="https://bondora.com/ref/waldemarj5">
                            <img src="assets/Bondora-Go-Grow-Blogbild.png" style="width: 250px">
                        </a>
                    </span>
                </div>
                <span>
                    <a href="/depot">Hier</a> siehst du weitere Details meines P2P Depots
                </span>
            </div>

        </div>
    </div>
</div>