<div class="container q">
    <div class="row main">
        <div class="col-lg first">
            <div>
                <h4>Dividenden Einnahmen</h4> <br>
            </div>

            <div class="dreieck">

            </div>

            <div class="dreieckRechts">

            </div>

            <div class="dividendnEinnahmen">
                <b>Letzter Monat:</b> 50€
            </div>

            <div class="dividendnEinnahmen-right ">
                <b>Aktuelles Jahr: 50€</b>
            </div>

            <br>
            Portfolio

           <div class="stockPortfolio">
               <div class="content">
                   <img src="assets/cola.png" style="width: 53px;">
               </div>
           </div>


            <div class="depotinfo">
                Aktiendepot: Traderepublic  ETF-Depot:  Scalable <br>
                <span> Hier siehst du weitere Details meines Depots</span>
            </div>
        </div>
        <div class="col-lg second">
            <h4>Zinseinnahmen P2P</h4>

            <div class="dividendnEinnahmen">
                <b>Letzter Monat:</b> 50€
            </div>

            <div class="dividendnEinnahmen-right ">
                <b>Aktuelles Jahr:</b> 50€
            </div>

            <div class="dreieck">

            </div>

            <div class="dreieckRechts">

            </div>

            <div class="content-p2p">
                <span>
                    Mein P2P Konto habe ich von Bondora Go & Grow
                </span>
                <div class="pic">
                    <img src="assets/Bondora-Go-Grow-Blogbild.png" style="width: 60%">
                </div>
                <span>
                    Hier siehst du weitere Details meines P2P Depots
                </span>
            </div>

        </div>
    </div>
</div>